*.class
FavorForMe/bin
FavorForMe/bin/*
FavorForMe/gen
FavorForMe/gen/*
appcompat_v7/bin
appcompat_v7/bin/*
google-play-services_lib/bin
google-play-services_lib/bin/*
sdk/bin
sdk/bin/*
loginbase-template/bin
loginbase-template/bin/*
facebook/bin
facebook/bin/*
